body{
    margin: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    min-width: 420px;
    max-width: 540px;
    background-color: #b7f0f0;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.main-title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 38px;
}

.search-word {
    padding: 10px;
    font-size: 16px;
    width: 90%;
    margin-top: 10px;
}

.info {
    color: #777;
}

.meaning-box {
    margin-top: 20px;
}

.meaning-box table td {
    padding: 10px 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.word {
    color: #f00;
    font-size: 20px;
}

.meaning {
    color: #7404d7;
}

.audio {
    margin-top: 14px;
}

.hide_it {
    display: none;
}